/* Styling for the navigation bar */
.nav {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.nav-link {
	text-decoration: none;
	color: var(--link-color); 
    padding: 15px;
    font-size: 0.89rem;
	font-weight: bold;
	margin: 0 10px;
	transition: color 0.3s;
}

.nav-link:hover {
	color: #0056b3; 
}



.about-page {
	position: relative;
	max-width: 800px;
	margin: 8% auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	color: var(--paragraph-color);
}

.about-page h1 {
	font-size: 2.5rem;
	color: var(--paragraph-color);
	font-weight: bold;
}

.about-page h2 {
	font-size: 1.8rem;
	color: var(--paragraph-color);
}
.about-page p {
	font-size: 1.2rem;
	line-height: 1.5;
}

.about-page ul {
	list-style: none;
	padding: 0;
}

.about-page li {
	font-size: 1.1rem;
	margin: 5px 0;
}

.about-page a {
	text-decoration: none; 
	font-weight: bold;
	transition: color 0.3s;
    color: var(--link-color); 

}

.about-page a:hover {
	color: #0056b3; 
}

.about-page .backHome{
	position: absolute;
	top: -30px;
	left: 20px;
}

.about-page .backHome a{
	margin-bottom: 20px;
	display: block;
	width: 90px;
	height: 30px;
	background: var(--primary-color);
	border: 1px solid var(--border-color);
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: var(--paragraph-color);
	border-radius: 5px;
	box-shadow: 0 0 10px var(--border-color);
}
/* Media query for smaller screens  */
@media (max-width: 768px) {
    .about-page {
        padding: 10px;
    }
	.about-page h1 {
		font-size: 2rem;
	}

	.about-page h2 {
		font-size: 1.5rem;
	}

	.about-page p {
		font-size: 1rem;
	}
}
