.compareCollection h2, p{
    text-align: center;
    margin: 0 20px;
}
.banner-container {
    background-color: #333;
    background-image: url('../assets/banner3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.banner-container.show {
    opacity: 1;
    transform: translateY(0);
}

.animated-banner {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;

}

.banner-content .icon i {
    font-size: 3rem;
    color: var(--third-color);
    margin-bottom: 1rem;

}

.text-content {
    text-align: center;
    width: auto;
}

.text-content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--third-color);
    margin-bottom: 1rem;
}

.text-content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

/* Smart Phone Screen */

@media screen and (max-width: 600px) {
    .compareCollection h2 {
        font-size: 1.5rem;
        text-align: left;
    }

    .compareCollection p {
        font-size: 1rem;
        text-align: left;
    }

    .banner-content .icon i{
        font-size: 2rem;
    }
}

/* Tablet Screen */

@media screen and (min-width: 600px) and (max-width: 900px) {
    .compareCollection h2 {
        font-size: 1.5rem;
    }

    .compareCollection p {
        font-size: 1rem;
    }
}