.contact-info {
    margin: 20px;
    text-align: center;
}

.contact-info h1 {
    font-size: 2rem;
    font-weight: 700;
}

.contact-info p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.contact-info .table-container, .branch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}
.contact-info table {
    width: 100%;
    max-width: 500px;
    border: 2px solid #ccc;
    border-collapse: collapse;
}


.contact-info table tr {
    border: 2px solid #ccc;
}

.contact-info table tr th {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    font-weight: 700;

}

.contact-info table tr td {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    font-weight: 400;
}

.contact-info table tr td:first-child {
    font-weight: 700;
}

.contact-info table tr td a {
    color: var(--third-color);
}

.contact-info .branch ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info .branch ul li{
    margin-bottom: 1rem;
}
