
#featuredProduct {
	text-align: center;
	padding: 40px 0;
	background: var(--primary-color);
}

h2 {
	font-size: 24px;
	padding: 10px;
}

.short-info {
	font-size: 16px;
	color: #333;
	margin-bottom: 20px;
}

#featuredProduct .container{
    display: flex;
    justify-content: space-evenly;
	align-items: center;
}
.featured-product {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: var(--primary-color);
	padding: 20px;
	width: 100%;
}

.left-text,
.right-text {
	flex: 1;
}

.text-con {
	display: flex;
	align-items: center;
    justify-content: center;
	margin-bottom: 20px;
}
.left-text .text-con .inner-icon i{
    font-size: 24px;
    margin-left: 20px;
    color: var(--third-color)
}
.right-text .text-con .inner-icon i {
    font-size: 24px;
    margin-right: 20px;
    color: var(--third-color)
}

.inner-text {
	flex: 1;
	text-align: left;
}

h4 {
	font-size: 20px;
	margin-bottom: 5px;
}

.inner-icon {
	font-size: 24px;
	margin-left: 10px;
}

.center-img{
    padding: 20px;
}
.center-img img {
	object-fit: contain;
    max-width: 100%;
    height: 300px;
}


.deal-Of-The-Week {
	text-align: center;
	margin: 40px 0;
	/* background: var(--primary-color) */
}

.deal-Of-The-Week .container {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.item-box {
    display: flex;
    gap: 10px;
    width: 100%;
	max-width: 800px;
	border: 1px solid #ccc;
	padding: 20px;
    margin: 20px;
	border-radius: 5px;
	background: var(--primary-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.img-container {
    width: 45%;
}

.item-info{
    width: 55%;
}
.img-container img {
    object-fit: contain;
    height: auto;
	max-width: 100%;
	height: 300px;
	border-radius: 5px;
}

.rating-con {
	margin: 10px 0;
	color: #ffcc00;
}

.rating-con i {
	font-size: 18px;
}

.item-info h3 {
	font-size: 20px;
	margin: 10px 0;
}

.short-info p {
	font-size: 16px;
	color: #333;
	margin: 10px 0;
}

.price-con {
	margin: 10px 0;
}

.price {
	font-size: 24px;
}

.discount {
	text-decoration: line-through;
	color: #dc3545;
	margin-left: 10px;
	font-size: 16px;
}

.countDown-con {
	margin: 20px 0;
}

.countDown {
	display: flex;
	justify-content: center;
}

.countDown-item {
	text-align: center;
	margin: 0 20px;
}

.countDown-item span.day,
.countDown-item span.hour,
.countDown-item span.minute,
.countDown-item span.second {
	font-size: 30px;
}

.countDown-item span {
	font-size: 14px;
	color: #777;
	display: block;
	margin-top: 5px;
}

.btn-container {
	margin: 20px 0;
}

.deal-Of-The-Week .btn {
	background: var(--third-color);
	color: var(--primary-color);
	padding: 10px 20px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}

.deal-Of-The-Week .btn:hover {
	color: var(--third-color);
    background: var(--primary-color);
	border: 1px solid var(--third-color);
}

@media screen and (max-width: 1023px) {
	.featured-product {
		flex-direction: column;
		text-align: center;
	}

	.left-text,
	.right-text {
		width: 100%;
	}

	.inner-icon {
		margin-left: 0;
	}

	.countDown-item {
		margin: 0 10px;
	}
}

@media screen and (max-width: 767px) {
	h2 {
		font-size: 20px;
	}

	.short-info {
		font-size: 14px;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 18px;
	}

	.inner-icon {
		font-size: 20px;
		margin-left: 5px;
	}

	.btn {
		padding: 8px 16px;
		font-size: 16px;
	}

    .item-box{
        padding: 15px;
    }

    .countDown-item span.day,
.countDown-item span.hour,
.countDown-item span.minute,
.countDown-item span.second {
    font-size: 24px;
}
}
