@import 'typeface-manrope';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	background: var(--primary-color);
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--primary-color: #faf4f4;
	--hover-color: #47B5FF;
	--link-color: #3801d1;
	--button-color: #256D85;
	--background-color: #06283D;
	--paragraph-color: #333;
	--heading-color: #000;
	--border-color: #ccc;
	--card-bg-color: #e0e0e0;
	color-scheme: light;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-font: grayscale;
}

section {
	padding: 2rem 0;
	margin-bottom: 3rem;
}

section h2 {
	color: var(--header-color);
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1rem;
}

section p {
	color: var(--paragraph-color);
	font-weight: 500;
}


.cart-container {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background: var(--background-color);
	transition: all 0.3s ease-in;
	transform: translateX(100%);
}

.cartOpen {
	transform: translateX(0%);
}

.cart-container .transparentSide {
	width: 0%;
	height: 100%;
}

.cart-container .cartMenuSide {
	display: grid;
	grid-template-rows: 1fr 5fr 2fr;
}

.cart-container .cartMenuSide,
.search-side {
	width: 100%;
	background: var(--primary-color);
}

.cart-container .cartMenuSide .cartMenu {
	align-items: center;
}

.cart-container .cartMenuSide,
.search h3 {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
}

.cart-container .cartMenuSide button {
	all: unset;
	font-size: 1.8rem;
	font-weight: 500;
	cursor: pointer;
}

.cart-container .cartMenu {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid var(--border-color);
}

.cart-container .cartList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	overflow-x: hidden;
	max-width: 1200px;
	height: calc(100vh - 64px - 70px);
}

.cart-container .carts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	gap: 10px;
	width: 100%;
	height: min(100%, auto);
}

.cart-container .carts .cartEmpty,
.empty-text {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: capitalize;
	color: #ccc;
	width: 100%;
}

.cart-container .carts .cartEmpty .fa {
	margin-left: 1rem;
}

.cart-container .carts .product-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 400px;
	position: relative;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	box-shadow: 0 2px 10px var(--border-color);
	transition: all 0.3s ease;
	padding: 0;
}

.cart-container .carts .product-card .img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
}

.cart-container .carts .product-card .img-container img {
	width: 150px;
	height: 100%;
	object-fit: contain;
}

.cart-container .carts .product-card .product-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	text-align: center;
	background: var(--card-bg-color);
	width: 100%;
	height: 100%;
	padding: 10px;
}

.cart-container .carts .product-card .product-info .product-name,
.brand {
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	text-transform: capitalize;
	color: var(--paragraph-color);
}

.cart-container .carts .product-card .product-info .priQty {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0;
}

.cart-container .carts .product-card input {
	max-width: 60px;
	font-size: 1rem;
	margin-left: 5px;
	padding: 10px;
	border-radius: 5px;
	cursor: default;
	background: transparent;
	color: var(--third-color);
	border: 1px solid var(--third-color);
	outline: none;
}

.cart-container .carts .product-card button {
	width: -moz-fit-content;
	width: fit-content;
	padding: 10px;
	text-transform: uppercase;
	font-size: 0.57rem;
	background: transparent;
	border: 1px solid #f15c5c;
	border-radius: 5px;
	color: #f15c5c;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.cart-container .carts .product-card button:hover {
	background: #f15c5c;
	color: var(--primary-color);
	border: 1px solid #f15c5c;
}

.total-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 20px;
}

.total-container .cart-total {
	background: var(--card-bg-color);
	border: 1px solid var(--border-color);
	box-shadow: 0 2px 10px var(--border-color);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	height: fit-content;

}

.total-container .subtotal,
.tax,
.total {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.total-container .subtotal span:first-child,
.tax span:first-child,
.total span:first-child {
	font-weight: bold;
}

.total-container .btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.total-container .cart-total .checkout-btn {
	background: var(--button-color);
	color: var(--primary-color);
	border: 1px solid var(--button-color);
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	font-size: 1rem;
	letter-spacing: 3.1px;
	transition: all 0.4s ease;
}

.total-container .cart-total .checkout-btn:hover {
	background: var(--hover-color);
	color: var(--primary-color);
	border: 1px solid var(--hover-color);
}

.search-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in;
	transform: translateX(100%);
}

.searchOpen {
	transform: translateX(0%);
}

.search-container .search-side .search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 10vh;
}

.search-container .search-side .search h3 {
	font-size: 1rem;
	font-weight: 500;
}

.search-container .search-side .search button {
	all: unset;
	font-size: 1.8rem;
	font-weight: 500;
	cursor: pointer;
}

.search-container .search-list {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1.5rem 1rem 1rem 1rem;
	border-top: 1px solid var(--border-color);
}

.search-container .search-list .fa {
	position: absolute;
	left: 16px;
	font-size: 1.2rem;
	padding: 12px;
	color: #333;
	border: 1px solid var(--border-color);
}

.search-container .search-list input {
	position: relative;
	width: 100%;
	padding: 10px 0 10px 50px;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	outline: none;
	font-size: 1.3rem;
	margin-bottom: 10px;
	caret-color: auto;
}

.search-container .search-list input:focus {
	outline: 1px solid var(--hover-color);
}

.search-container .search-list input::placeholder {
	padding-left: 50px;
}

.search-container .search-list .search-products {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 10px;
	width: 100%;
	height: calc(100vh - (10vh + 75px));
	overflow-y: auto;
}


.search-container .cards-container .card {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	box-shadow: 0 2px 10px var(--border-color);
	width: 100%;
	max-width: 350px;
	height: 150px;
}

.search-container .cards-container .card .card-image {
	width: 50%;
	height: 100%;
}

.search-container .cards-container .card .card-image img {
	width: 150px;
	height: 100%;
	object-fit: contain;
	padding: 10px;
}

.search-container .cards-container .card .card-content {
	background: var(--card-bg-color);
	width: 100%;
	padding: 8px;
}

.search-container .cards-container .card .card-content h3 {
	font-size: 1.03rem;
	font-weight: 500;
	color: var(--paragraph-color);
}

.search-container .cards-container .card .card-content p {
	font-size: 0.89rem;
	font-weight: 500;
	color: var(--paragraph-color);
}

.search-container .cards-container .card button {
	background: var(--button-color);
	border: 1px solid var(--button-color);
	color: var(--primary-color);
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
	transition: all 0.4s ease;
}

.search-container .cards-container .card button:hover {
	background: var(--hover-color);
	color: var(--primary-color);
	border: 1px solid var(--hover-color);
}

.user-account {
	display: grid;
	grid-template-columns: 2fr 1fr;
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in;
	transform: translateX(100%);
}

.open {
	transform: translateX(0%);
}

.user-account .transparentSide {
	width: 60%;
	height: 100%;
}

.user-account .account-container {
	background: var(--primary-color);
	height: 100%;
	width: 100%;
	margin: 0;
}

.user-account .closeMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid var(--border-color);
}

.user-account .closeMenu h3 {
	font-size: 1.2rem;
	font-weight: 500;
}

.user-account .closeMenu button {
	all: unset;
	cursor: pointer;
}

.user-account .closeMenu button i {
	font-size: 1.8rem;
}

.user-account .account-form {
	padding: 20px;
}

.user-account .account-form form {
	width: 100%;
}

.user-account .account-form form .form-control {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.user-account .account-form form .form-control label {
	font-size: 0.89rem;
	font-weight: 500;
	padding-bottom: 10px;
}

.user-account .account-form form .form-control input {
	width: 100%;
	padding: 15px;
	border: 1px solid var(--border-color);
	outline: none;
	font-size: 1rem;
}

.user-account .account-form form .form-control input:focus {
	outline: 1px solid var(--hover-color);
}

.user-account .account-form form .form-control i {
	position: absolute;
	right: 10px;
	cursor: pointer;
	margin: 0;
	padding: 10px;
	font-size: 20px;
}

.user-account .account-form .form-control .btn {
	background: var(--button-color);
	border: none;
	color: var(--primary-color);
	padding: 10px;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.user-account .account-form .form-control .btn:hover {
	background: var(--hover-color);
	box-shadow: inset 0 -4px 0 var(--hover-color),
		inset 0 -6px 0 var(--hover-color)
}

.acc-info p {
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--paragraph-color);
	letter-spacing: 0.4px;
	text-align: left;
}

.acc-info a {
	margin-left: 10px;
	font-size: 0.9rem;
	text-decoration: underline;
	color: var(--link-color);
	transition: all 0.4s ease-in;
}

.acc-info a:hover {
	color: var(--hover-color)
}

/* Mobile Phone Screen */
@media screen and (max-width: 767px) {
	#header .mainHeader .nav-container {
		position: fixed;
		top: 0;
		background: var(--primary-color);
		left: -100%;
		height: 100%;
		width: 75%;
		transition: all 0.4s ease;
		z-index: 999;
	}

	#header .mainHeader .nav-container.openMenu {
		left: 0;
	}

	section {
		padding: 20px 0;
		margin-bottom: 20px;
	}

	section h2 {
		font-size: 1.45rem;
	}

	section p {
		padding: 0;
		margin: 0;
		color: var(--paragraph-color);
	}

	.search-container {
		grid-template-columns: 1fr;
		height: 100%;
		width: 100%;
	}

	.search-container .transparent-side {
		display: none;
	}

	.search-container .search-list input::placeholder {
		padding-left: 0;
		font-size: 1rem;
	}

	.cart-container .transparentSide {
		display: none;
	}

	.cart-container .cartMenuSide {
		max-width: 767px;
		width: 100%;
	}

	.cart-container .cartMenuSide,
	.search h3 {
		font-size: 0.78rem;
	}

	.total-container {
		margin: 10px;
	}

	.total-container span {
		font-size: 0.78rem;
	}

	.total-container .cart-total {
		max-width: 300px;
	}

	.total-container .cart-total .checkout-btn {
		font-size: 0.78rem;
		margin: 0;
	}

	.cart-container .carts {
		width: 100%;
	}

	.cart-container .carts .product-card {
		max-width: 350px;
	}

	.cart-container .carts .product-card label {
		font-size: 0.7rem;
	}

	.cart-container .carts .product-card .product-info {
		padding: 10px;
	}

	.cart-container .carts .product-card .product-info .product-name {
		font-size: 1rem;
	}

	.cart-container .carts .product-card .product-info .brand {
		font-size: 0.78rem;
	}

	.cart-container .carts .product-card .img-container img {
		object-fit: contain;
		height: 100%;
		aspect-ratio: 1/1;
	}

	.user-account {
		grid-template-columns: 1fr;
	}

	.user-account .transparentSide {
		display: none;
	}

	.user-account .account-form form .form-control input {
		width: 100%;
		padding: 10px;
		border: 1px solid var(--border-color);
		outline: none;
		font-size: 0.89rem;
	}

	.user-account .account-form form .form-control i {
		font-size: 20px;
		color: var(--paragraph-color);
	}

	.user-account .account-form .form-control .btn {
		font-size: 20px;
	}
}

/* Tablet Screens */

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		overflow-x: hidden;
	}

	#header .mainHeader .nav-container {
		position: fixed;
		top: 0;
		background: var(--primary-color);
		left: -100%;
		height: 100%;
		width: 75%;
		transition: all 0.5s ease;
		z-index: 99;
	}

	#header .mainHeader .nav-container.openMenu {
		left: 0;
	}

	section {
		padding: 25px 0;
		margin-bottom: 25px;
	}

	section h2 {
		font-size: 1.65rem;
	}

	section p {
		margin: 0;
		padding: 0;
		color: var(--paragraph-color);
	}

	.user-account {
		grid-template-columns: 1fr 2fr;
	}

	.cart-container .carts {
		height: 900px;
	}

	.search-container {
		grid-template-columns: 1fr 2fr;
	}

	.search-container .search-list .search-products {
		height: 900px;
	}
}

.not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	font-family: Arial, sans-serif;
}

.not-found h1 {
	font-size: 4rem;
	margin: 0;
	color: #ff5733;
}

.not-found p {
	font-size: 1.2rem;
	margin: 10px 0;
	color: var(--paragraph-color);
}

.not-found ul {
	list-style: none;
	padding: 0;
}

.not-found li {
	font-size: 1.1rem;
	color: var(--paragraph-color);
	margin: 5px 0;
}

.not-found a {
	text-decoration: none;
	color: var(--link-color);
	font-weight: bold;
	transition: color 0.4s;
}

.not-found a:hover {
	color: var(--hover-color);
}

.acc-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

.acc-container h1 {
	margin-top: 3rem;
	;
	font-size: 2em;
}

.acc-container .backHome {
	position: absolute;
	top: -30px;
	left: 20px;
	margin: 10px;
}

.acc-container .backHome a {
	display: block;
	width: 90px;
	height: 30px;
	background: var(--primary-color);
	border: 1px solid var(--border-color);
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	color: var(--paragraph-color);
	border-radius: 5px;
	box-shadow: 0 0 10px var(--border-color);
}

.acc-container .createAcc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.acc-container .createAcc .error {
	color: red;
	font-size: 0.7em;
	margin-bottom: 4%;
}

.acc-container .createAcc form {
	width: 100%;
	max-width: 400px;
	height: auto;
	border: 1px solid var(--border-color);
	background-color: var(--primary-color);
	box-shadow: 0 0 10px var(--border-color);
	padding: 2% 5%;
	margin: 2rem 0;
	border-radius: 5px;
}

.acc-container .createAcc form .form-control {
	position: relative;
	width: 100%;
	margin-bottom: 4%;
}

.acc-container .createAcc form .form-control label {
	font-size: 1em;
}

.acc-container .createAcc form input {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	outline: none;
	font-size: 1rem;
}

.acc-container .createAcc form .form-control .fa {
	position: absolute;
	right: 10px;
	padding: 10px;
	cursor: pointer;
}

.acc-container .createAcc .form-control.error~form input:invalid {
	border: 2px solid red;
}


.acc-container .createAcc form button {
	width: 100%;
	padding: 10px;
	border: none;
	cursor: pointer;
	background: var(--button-color);
	color: var(--primary-color);
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: background-color 0.4s ease;
}

.acc-container .createAcc form button:hover{
	background: var(--hover-color);
}
/* Desktop And Bigger Screens */

@media screen and (min-width: 1024px) {
	.mobileMenu {
		display: none;
	}
}

@media (max-width: 768px) {
	.acc-container .createAcc form {
		max-width: 300px;
	}

	.not-found h1 {
		font-size: 3rem;
	}

	.search-container .cards-container .card button {
		font-size: 0.86rem;
	}

	.not-found p {
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	.not-found h1 {
		font-size: 2.5rem;
	}

	.not-found p {
		font-size: 0.9rem;
	}
}