#product{
	text-align: center;
	padding: 40px 0;
	
}
.products-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.wrapper {
	width: 100%;
}

.Splide {
	width: 100%;
	height: auto;
}

.product{
	width: 100%;
	height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
	border: 1px solid #0000001a;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
}
.SplideSlide {
    
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: var(--primary-color);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image{
	width: 100%;
	height: 40%;
}
.product-image img {
	width: 100%;
	height: 150px;
	object-fit: contain;
}

.availability{
	position: absolute;
	top: -10px;
	right: 10px;
	color: darkgreen;
	opacity: 0;
	transition: all 0.3s ease;
}

.product:hover > .availability{
	opacity: 1;
}
.product-info h4 {
	font-size: 1.5rem;
	margin: 0;
}

.product-info .price {
	color: #000;
	font-size: 1.25rem;
	margin: 10px 0;
}

.product-info .price-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 100%;
}
.product-info .discount{
	text-decoration: line-through;
	color: #dc3545;
	font-size: 1rem;
}
.btn-container{
    display: flex;
	flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 10px;
}
.cart-btn {
    position: relative;
	padding: 10px 20px;
	font-size: 1rem;
	background-color: var(--third-color);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}


.wish-btn {
    all: unset;
    position: relative;
    color: #dc3545;
}

.wish-btn i {
    font-size: 1.5rem;
    cursor: pointer;
}


.SplideSlide {
	width: 100%;
}

.products .short-info {
	text-align: center;
	padding: 1rem;
	background-color: var(--primary-color);
}

.banner {
	width: 100%;
	height: 400px;
	background-image: url(../assets/watch-banner.avif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.banner .ourHeritage-card {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner .ourHeritage-card h3{
	color: var(--primary-color);
	font-size: 2.2rem;
	margin: 0;
}

.banner .ourHeritage-card p{
	color: var(--primary-color);
	font-size: 1rem;
	margin: 0;
	max-width: 1000px;
	padding: 20px;
}

.banner .ourHeritage-card a{
	all: unset;
	padding: 10px 20px;
	font-size: 1rem;
	background-color: var(--third-color);
	color: var(--primary-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.banner .ourHeritage-card a:hover{
	background: var(--primary-color);
	color: var(--third-color);
}
/* Smart Phone Screens */

@media screen and (max-width: 767px) {
	.product{
		width: 170px;
		height: 210px;
		padding: 10px;
	}
	.product-image img {
		height: 100px;
		object-fit: contain;
	}
	.product-info{
		padding: 5px;
	}
	.product-info h4 {
		font-size: 1.2rem;
	}
	.product-info .price {
		font-size: 1rem;
	}
	.product-info .discount{
		font-size: 0.8rem;
	}
	.product-info .price-info {
		gap: 5px;
	}
	.btn-container{
		gap: 10px;
	}
	.btn-container .cart-btn {
		padding: 5px 10px;
		font-size: 0.8rem;
	}
	.btn-container .wish-btn i {
		font-size: 1.2rem;
	}
	.banner .ourHeritage-card h3{
		font-size: 1.5rem;
	}
	.banner .ourHeritage-card p{
		font-size: 0.8rem;
	}
	.banner .ourHeritage-card a{
		font-size: 0.8rem;
	}
}

/* Tablet Screens */
@media screen and (min-width: 768px ) and (max-width: 1024px){
	.product{
		width: 200px;
		height: 300px;
	}
	.product-info{
		padding: 10px;
	}
	
	.product-info h4 {
		font-size: 1.2rem;
	}
	.product-info .price {
		font-size: 1rem;
	}
	.product-info .discount{
		font-size: 0.8rem;
	}
	.product-info .price-info {
		gap: 5px;
	}
	.product-image img{
		height: 150px;
		object-fit: contain;
	}
	.btn-container{
		gap: 10px;
	}
	.btn-container .cart-btn {
		padding: 5px 10px;
		font-size: 0.8rem;
	}
	.btn-container .wish-btn i {
		font-size: 1.2rem;
	}
	.banner .ourHeritage-card h3{
		font-size: 1.5rem;
	}
	.banner .ourHeritage-card p{
		font-size: 0.8rem;
	}
	.banner .ourHeritage-card a{
		font-size: 0.8rem;
	}
}