.testimonial {
	text-align: center;
	padding: 40px 0;
	background: var(--primary-color);
}

.testimonial h2 {
	font-size: 32px;
}

.testimonial .short-info {
	font-size: 18px;
	color: #333;
	padding-bottom: 20px;
}

.testimonial .splide__track {
	display: flex;
	justify-content: center;
}

.testimonial .splide__list {
	display: flex;
	align-items: center;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.testimonial-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background: var(--primary-color);
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 0 20px;
	width:250px;
}

.testimonial-img img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.testimonial-info {
	flex: 1;
}

.testimonial-text {
	font-size: 16px;
	color: #555;
	margin-bottom: 10px;
}

.testimonial-user-name {
	font-size: 20px;
	margin: 0;
}

.testimonial-user small {
	color: #777;
}

/* Subscribe Section */
.subscribe {
	text-align: center;
	background: var(--primary-color);
	padding: 40px 0;
}

.subscribe form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.subscribe form input {
	width: 100%;
	max-width: 500px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1.33rem;
	background: #f7f7f7;
	outline: none;
}

.subscribe form input:focus{
	border: 1px solid var(--third-color);
}
#subscribeBtn {
	width: 120px;
	padding: 20px;
	border: 1px solid;
	border-radius: 5px;
	background-color: var(--third-color);
	color: #fff;
	font-size: 18px;
	margin-left: 10px;
	cursor: pointer;
	transition: all .3s;
}

#subscribeBtn:hover {
	background-color: var(--primary-color);
	color: var(--third-color);
	border: 1px solid var(--third-color);
}


.downloadApp {
	text-align: center;
	padding: 40px 0;
	background: var(--primary-color);
}

.downloadApp h2 {
	font-size: 32px;
}

.downloadApp .short-info {
	font-size: 18px;
	color: #333;
	margin-bottom: 40px;
}

.downloadApp-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.downloadApp-container a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: var(--third-color);
	font-size: 18px;
	margin: 0 20px;
}

.downloadApp-container i {
	font-size: 40px;
	margin-bottom: 10px;
}

/* Media query for smartphones */
@media screen and (max-width: 767px) {
	.testimonial h2 {
		font-size: 24px;
	}

	.testimonial .short-info {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.testimonial-card {
		width: 200px;
		margin: 0 10px;
	}

	.testimonial-img img {
		width: 60px;
		height: 60px;
	}

	.testimonial-text {
		font-size: 14px;
	}

	.testimonial-user-name {
		font-size: 18px;
	}

	.subscribe {
		margin: 20px 0;
	}

	#subEmail {
		font-size: 14px;
	}

	#subscribeBtn {
		font-size: 16px;
	}

	.downloadApp h2 {
		font-size: 24px;
	}

	.downloadApp .short-info {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.downloadApp-container a {
		font-size: 16px;
	}

	.downloadApp-container i {
		font-size: 30px;
		margin-bottom: 10px;
	}
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .testimonial h2 {
        font-size: 28px;
    }

    .testimonial .short-info {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .testimonial-card {
        width: 100%;
        margin: 0 10px;
    }

    .testimonial-img img {
        width: 60px;
        height: 60px;
    }

    .testimonial-text {
        font-size: 14px;
    }

    .testimonial-user-name {
        font-size: 18px;
    }

    .subscribe {
        margin: 20px 0;
    }

    #subEmail {
        font-size: 14px;
    }

    #subscribeBtn {
        font-size: 16px;
    }

    .downloadApp h2 {
        font-size: 24px;
    }

    .downloadApp .short-info {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .downloadApp-container a {
        font-size: 16px;
    }

    .downloadApp-container i {
        font-size: 30px;
        margin-bottom: 10px;
    }
}