.wishList-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    transform: translateX(100%);
}

.transparentSide {
    width: 40%;
    height: 100%;
}

.wishOpen {
    transform: translateX(0%);
}

.wishMenuSide {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

.wishMenuSide .wishMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.wishMenuSide .wishMenu h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.wishMenuSide .wishMenu button {
    all: unset;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.wishMenuSide .wishLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 600px;
    gap: 10px;
    overflow: auto;
    padding: 2rem 0;
}

.wishMenuSide .wishLists .wishEmpty,
.empty-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
    width: 100%
}

.wishMenuSide .wishLists .wishEmpty .fa {
    margin-left: 1rem;
}

.wishLists .favorite-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.wishLists .favorite-card .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

.wishLists .favorite-card .img-container img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.wishLists .favorite-card .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    background: #e0e0e0;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
}

.wishLists .favorite-card .product-info .product-name,
.brand {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.wishLists .favorite-card .product-info .cost-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wishLists .favorite-card .product-info .cost-container .discount {
    color: #f15c5c;
    font-size: 0.81rem;
}

.wishLists .favorite-card .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wishLists .favorite-card .product-info .btn,
.delete {
    width: -moz-fit-content; 
    width: fit-content;
    text-transform: uppercase;
    font-size: 0.57rem;
    background: transparent;
    color: var(--third-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
}

.delete {
    border: 1px solid #f15c5c;
    color: #f15c5c;
}

.delete:hover {
    background: #f15c5c;
    color: var(--primary-color);
    border: 1px solid #f15c5c;
}


.wishLists .favorite-card .product-info .btn:hover {
    color: var(--primary-color);
    background: var(--third-color);
}
/* Mobile and Smart Phones */
@media screen and (max-width: 767px) {
    .wishList-container {
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }

    .wishLists .favorite-card {
        max-width: 350px;
    }

    .transparentSide {
        display: none;
    }

    .wishLists .favorite-card .product-info .product-name {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .wishMenuSide .wishLists{
        height: 1000px;
    }
}