.wishList-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    transform: translateX(100%);
}

.transparentSide {
    width: 40%;
    height: 100%;
}

.wishOpen {
    transform: translateX(0%);
}

.wishMenuSide {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

.wishMenuSide .wishMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.wishMenuSide .wishMenu h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.wishMenuSide .wishMenu button {
    all: unset;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.wishMenuSide .wishLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: min(100%, 560px);
    gap: 10px;
    overflow: hidden auto;
    padding: 1rem 0;
}

.wishMenuSide .wishLists .wishEmpty,
.empty-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--border-color);
    width: 100%
}

.wishMenuSide .wishLists .wishEmpty .fa {
    margin-left: 1rem;
}

.wishLists .favorite-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px var(--border-color);
    transition: all 0.3s ease;
}

.wishLists .favorite-card .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wishLists .favorite-card .img-container img {
    width: 150px;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

.wishLists .favorite-card .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--card-bg-color);
    width: 100%;
    height: 100%;
    padding: 10px;
}

.wishLists .favorite-card .product-info .product-name {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--paragraph-color);
}

.wishLists .favorite-card .product-info .cost-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.wishLists .favorite-card .product-info .cost-container .discount {
    color: #f15c5c;
    font-size: 0.81rem;
}

.wishLists .favorite-card .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wishLists .favorite-card .product-info .btn {
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.86rem;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.wishLists .favorite-card .product-info .delete {
    border: 1px solid #f15c5c;
    border-radius: 5px;
    padding: 10px;
    color: #f15c5c;
    font-size: 0.86rem;
    transition: all 0.3s ease-in;
}

.wishLists .favorite-card .product-info .delete:hover {
    background: #f15c5c;
    color: var(--primary-color);
    border: 1px solid #f15c5c;
}


.wishLists .favorite-card .product-info .btn:hover {
    color: var(--primary-color);
    background: var(--hover-color);
}

/* Mobile and Smart Phones */
@media screen and (max-width: 767px) {
    .wishList-container {
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
    }

    .wishMenuSide .wishLists {
        height: min(100%, 550px);
    }

    .wishLists .favorite-card {
        max-width: 350px;
        margin: auto;
    }

    .wishLists .favorite-card .img-container img {
        width: 150px;
        height: 100%;
        object-fit: contain;
    }

    .transparentSide {
        display: none;
    }

    .wishLists .favorite-card .product-info .product-name {
        font-size: 1rem;
    }
}

/* Tablet Screens */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wishMenuSide .wishLists {
        height: 1000px;
    }
}