.featuredProd .short-info {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
}

.featuredProd .products {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
    margin-bottom: 5rem;
}

.featuredProd .products .left-text, .right-text {
    width: 100%;
    max-width: 200px;
    padding: 1rem;
}

.featuredProd .products  .text-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.featuredProd .products .text-con .inner-icon i {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.featuredProd .products  .text-con .inner-text p {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.featuredProd .products .center-img {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.featuredProd .products .center-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featuredProd .products .right-text {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
}

.featuredProd .products .left-text {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    text-align: right;
}

.featuredProd .products  .text-con .inner-text h4 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
    white-space: nowrap;
}
.featuredProd .products .text-con .inner-icon i {
    color: #f73959;
    font-size: 2.5rem;
    margin-right: 2rem;
}
.featuredProd  .products .left-text .text-con .inner-icon i{
    margin-left: 2rem;
}

.featuredProd .product .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.featuredProd .product .product-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    border: 10px solid var(--third-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.5);
}

.featuredProd .product .product-box .img-container {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.featuredProd .product .product-box .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featuredProd .product .product-box .product-info {
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    text-align: left;
}

.featuredProd .product .product-box .product-info .rating-con {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .product-info .rating-con i {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in;
}

.featuredProd .product .product-box .product-info .rating-con .far:hover {
    color: #daa520;
}

.featuredProd .product .product-box .product-info h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .product-info p {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .product-info .price-con {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .product-info .price-con .price {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .product-info .price-con .discount {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .countDown-con {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .countDown-con .countDown {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .countDown-con .countDown .countDown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.featuredProd .product .product-box .btn-container {
    margin-bottom: 1rem;
}

.featuredProd .product .product-box .btn-container .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--third-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.featuredProd .product .product-box .btn-container .btn:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    border: 1px solid var(--third-color);
}
@media screen and (max-width: 767px) {
    .featuredProd .products{
        display: none;
    }
    .featuredProd .product{
        padding: 10px;
    }
    .featuredProd .product .product-box{
        justify-content: space-between;
        max-width: 500px;
        border: 5px solid var(--third-color);
        padding: 10px;
    }
    .featuredProd .product .product-box .product-info {
        margin: 0;
    }
    .featuredProd .product .product-box .product-info .rating-con i {
    font-size: 0.89rem;
    margin: 0;
    }
    .featuredProd .product .product-box .product-info h3 {
        font-size: 1.2rem;
        margin: 0;
    }
    .featuredProd .product .product-box .product-info p{
        font-size: 0.89rem;
        margin-bottom: 0;
    }
    .featuredProd .product .product-box .product-info .price-con .price{
        font-size: 1.2rem;
        margin: 0;
    }
        .featuredProd .product .product-box .product-info .price-con .discount{
        font-size: 0.89rem;
        margin: 0;
    }
    .featuredProd .product .product-box .countDown-con .countDown{
        gap: 0.5rem;
        font-size: 0.85rem;
    }
    .featuredProd .product .product-box .countDown-con .countDown .countDown-item {
        width: 3.5rem;
        height: 3.5rem;
    }
    .featuredProd .product .product-box .btn-container .btn{
        padding: 0.5rem;
        font-size: 0.89rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .featuredProd .products .left-text{
        padding: 0 20px;
    }
    .featuredProd .products .right-text{
        padding: 0 20px;
    }
    .featuredProd .products .text-con .inner-text h4{
        font-size: 1.2rem;
        white-space: pre-wrap;
    }
    .featuredProd .products .text-con .inner-text p{
        font-size: 1rem;
    }
    .featuredProd .products  .text-con .inner-icon i{
        font-size: 1.2rem;
        margin-left: 1rem;
    }
    .featuredProd .product{
        padding: 15px;
    }
    .featuredProd .product .product-box .countDown-con .countDown .countDown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    width: 3.7rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
}