@import "typeface-manrope";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    background: var(--primary-color);
}

/* prefers-reduced-motion */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}
:root{
    --primary-color: #ffffff;
    --third-color: #f18a35;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-font: grayscale;
    -webkit-text-size-adjust: 100%;
}

section{
    padding: 2rem 0;
    margin-bottom: 3rem;
}
section h2{
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}
section p {
    color: #6666;
    font-weight: 500;
}
.cart-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    transform: translateX(100%);
}
.cartOpen{
    transform: translateX(0%);
}
.cart-container .transparentSide{
    width: 60%;
    height: 100%;
}
.cart-container .cartMenuSide, .search-side{
    width:100%;
    max-width: 450px;
    background: var(--primary-color);
}
.cart-container .cartMenuSide .cartMenu {
    align-items: center;
}
.cart-container .cartMenuSide, .search h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.cart-container .cartMenuSide button {
    all: unset;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}
.cart-container .cartMenu{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.cart-container .carts{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    width: 100%;
    height: 340px;
    overflow: auto;
    scroll-snap-type: mandatory;
}
.cart-container .carts .cartEmpty {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ccc;
    width: 100%
}
.cart-container .carts .cartEmpty .fa{
    margin-left: 1rem;
}
.cart-container .carts .product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 270px;
    margin-top: 10px;
}
.cart-container .carts .product-card button {
    all: unset;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.cart-container .carts .product-card button:hover{
    color: #f00;
}
.cart-container .carts .product-card .img-container img{
    width: 150px;
    height: 100%;
    object-fit: cover;
}
.cart-container .carts .product-card .product-info{
    text-align: center;
    background: #e0e0e0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.cart-container .carts .product-card .product-info .priQty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cart-container .carts .product-card .product-info .priQty input{
    width: 40px;
    font-size: 1rem;
    outline: none;
    margin-left: 5px;
}
.total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
}
.total-container .cart-total {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
}
.total-container .subtotal,
.tax,
.total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.total-container .subtotal span:first-child,
.tax span:first-child,
.total span:first-child {
    font-weight: bold;
}
.total-container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.total-container .cart-total .checkout-btn {
    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    transform: translateX(100%);
}
.searchOpen {
    transform: translateX(0%);
}
.search-container .search-side .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.search-container .search-side .search h3{
    font-size: 1rem;
    font-weight: 500;
}
.search-container .search-side .search button{
    all: unset;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}
.search-container .search-list::-webkit-scrollbar {
    display: none;
}
.search-container .search-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1rem 1rem 1rem;
    border-top: 1px solid #ccc;
}
.search-container .search-list .fa{
    position: absolute;
    right: 30px;
    top: 35px;
    color: #333;
}
.search-container .search-list input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
    margin-bottom: 10px;
}
.search-container .list-items {
    border-top: 1px solid #ccc;
    padding: 2rem;
}
.search-container .list-items ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.search-container .list-items ul li a {
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in;
}
.search-container .list-items ul li a:hover {
    color: var(--third-color);
}
.user-account {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    transform: translateX(100%);
}
.open{
    transform: translateX(0%)
}
.user-account .transparentSide{
    width: 60%;
    height: 100%;
}
.account-container{
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: 0;
}
.closeMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.closeMenu h3{
    font-size: 1.2rem;
    font-weight: 500;
}
.closeMenu button{
    all: unset;
    cursor: pointer;
}
.closeMenu button i{
    font-size: 1.8rem;
}
.account-form {
    padding: 20px;
}
.account-form form{
    width: 100%;
}
.account-form form .form-control{

    width: 100%;
    margin-bottom: 20px;
}
.account-form form .form-control label{
    font-size: 0.89rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.account-form form .form-control input{
    width:100%;
    padding: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}

.account-form form .form-control input:focus{
    outline: 1px solid;
}
.account-form form .fas {
    position: absolute;
    right: 20px;
    cursor: pointer;
    margin: 0;
    padding: 15px;
}
.account-form form .form-control button{
    background: var(--third-color);
    border: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.acc-info p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
}
.acc-info a{
    margin-left: 10px;
    font-size: 0.9rem;
    color: #333;
    transition: all 0.3s ease-in;
}
.acc-info a:hover{
    color: var(--third-color)
}

/* Mobile Phone Screen */
@media screen and (max-width: 767px) {
    #header .secondHeader .nav-container {
    position: fixed;
    top: 0;
    background: var(--primary-color);
    left: -100%;
    height: 100%;
    width: 75%;
    transition: all 0.5s ease;
    z-index: 99;
}
#header .secondHeader .nav-container.openMenu {
    left: 0;
}
    section{
        padding: 20px 0;
        margin-bottom: 20px;
    }
    section h2{
        font-size: 1.45rem;
    }
    section p{
        padding: 0;
        margin: 0;
        color: #333;
    }
    .cart-container .transparentSide{
        display: none;
    }
    .cart-container .cartMenuSide{
        max-width: 767px;
        width: 100%;
    }
    .cart-container .carts{
        width: 100%;
    }
    .cart-container .carts .product-card .img-container img{
        object-fit: contain;
        height: 100%;
        aspect-ratio: 1/1;
    }

}
/* Tablet Screens */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }
    #header .secondHeader .nav-container {
    position: fixed;
    top: 0;
    background: var(--primary-color);
    left: -100%;
    height: 100%;
    width: 75%;
    transition: all 0.5s ease;
    z-index: 99;
}
#header .secondHeader .nav-container.openMenu {
    left: 0;
}
    section{
        padding: 25px 0;
        margin-bottom: 25px;
    }
    section h2{
        font-size: 1.65rem;
    }
    section p {
        margin: 0;
        padding: 0;
        color: #333;
    }
}

/* Desktop And Bigger Screens */

@media screen and (min-width: 1024px) {
    .mobileMenu {
        display: none;
    }
    .cart-container .cartMenuSide{
        width: 50%;
        min-width: 700px;
    }
}