.products .products-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.products .products-container .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.products .products-container .product-card {
    display: inline-block;
    width: 250px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.products .products-container .product-card .img-container {
    width: 100%;
    height: 230px;
    padding: 1rem;
}

.products .products-container .product-card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products .products-container .product-card .product-info {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: #cfcfcf66;
}

.products .products-container .product-card .product-info .product-name {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
}

.products .products-container .product-card .product-info .price {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.products .products-container .product-card .product-info .discount {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 1rem;
    padding-left: 20px;
}

.products .products-container .product-card .product-info .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--third-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 1rem 0;
    width: 100%;
    cursor: pointer;
}

.products .products-container .product-card .product-info .btn:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
    border: 1px solid var(--third-color);
}

.products .short-info {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

.products .banner {
    background-color: #fff;
    background-image: url('./assets/watch-banner.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    padding: 1rem;
    margin: 2rem 0 5rem 0;
}

.products .banner .ourHeritage-card {
    padding: 3rem 1rem;
    margin: 50px 70px;
    color: var(--primary-color);
    background-color: rgba(3, 3, 3, 0.158);
    border-radius: 5px;
    width: 50%;
    max-width: 500px;
    height: fit-content;
}

.products .banner .ourHeritage-card h3 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 2rem;
}

.products .banner .ourHeritage-card p {
    font-size: 0.87rem;
    font-weight: 500;
    line-height: 2;
    padding: 2rem;
    color: #000;
}

.products .banner .ourHeritage-card button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.products .banner .ourHeritage-card button:hover {
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: 1px solid var(--third-color);
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 6));
        transform: translateX(calc(-200px * 6));
    }
}
@media screen and (max-width: 767px) {
    .products .products-container::before{
        position: absolute;
        z-index: 1;
        left: 0;
        content: "";
        width: 24%;
        height: 120px;
        background: linear-gradient(-90deg, hsla(0, 0%, 96,0), var(--primary-color))
    }
    .product .products-container::after{
        position: absolute;
        right: 0;
        content: "";
        width: 24%;
        height: 120px;
        background: linear-gradient(90deg, hsla(0, 0%, 96,0), var(--primary-color))
    }
    .products .products-container .wrapper{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: calc(200px * 6);
        animation: scroll 35s linear infinite;
        -webkit-animation: scroll 35s linear infinite;
    }
    .products .products-container .wrapper .product-card {
        max-width: 200px;
    }
    .products .products-container .product-card .product-info .product-name {
        font-size: 1rem;
    }
    .products .products-container .product-card .product-info .price{
        font-size: 0.89rem;
    }
    .products .products-container .product-card .product-info .discount {
        font-size: 0.89rem;
    }
    .products .products-container .product-card .img-container{
        height: 150px;
    }
    .products .products-container .product-card .img-container img {
        object-fit: contain;
    }
    .products .products-container .product-card .product-info .btn {
        font-size: 0.89rem;
        padding: 0.5rem;
        margin-bottom: 0;
    }
    .products .banner .ourHeritage-card {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .products .banner .ourHeritage-card button{
        font-size: 0.89rem;
        padding: 0.5rem;
    }
}
/* Desktop And Bigger Screen */
@media screen and (min-width: 1023px) {
    .products .products-container::before{
        position: absolute;
        z-index: 1;
        left: 0;
        content: "";
        width: 24%;
        height: 120px;
        background: linear-gradient(-90deg, hsla(0, 0%, 96,0), var(--primary-color))
    }
    .product .products-container::after{
        position: absolute;
        right: 0;
        content: "";
        width: 24%;
        height: 120px;
        background: linear-gradient(90deg, hsla(0, 0%, 96,0), var(--primary-color))
    }
    .products .products-container .wrapper{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: calc(300px * 6);
        animation: scroll 35s linear infinite;
        -webkit-animation: scroll 35s linear infinite;
    }
}

/* Tablet Screens */

@media screen and (min-width: 768px) and (max-width: 1024px){
    .products .products-container .wrapper{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: calc(300px * 6);
        animation: scroll 35s linear infinite;
        -webkit-animation: scroll 35s linear infinite;
    }
    .products .products-container .product-card .product-info .product-name {
        font-size: 1.1rem;
    }
    .products .products-container .product-card .product-info .price{
        font-size: 1.1rem;
    }
    .products .products-container .product-card .product-info .discount {
        font-size: 1rem;
    }
    .products .products-container .product-card .img-container{
        height: 150px;
    }
    .products .products-container .product-card .img-container img {
        object-fit: contain;
    }
    .products .products-container .product-card .product-info .btn {
        font-size: 0.89rem;
        padding: 0.5rem;
        margin-bottom: 0;
    }
}