.compareTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
}

.compareTable .table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
}

.compareTable .table-container table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.compareTable .table-container table tr {
    border: 1px solid #ccc;
}

.compareTable .table-container table tr th {
    padding: 1rem;
    border: 1px solid #ccc;
}

.compareTable .table-container table tr th img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.compareTable .table-container table tr td {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid #ccc;
    color: var(--third-color);
}

.compareTable .table-container table tr td:first-child {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.compareTable .table-container table tr td a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--third-color);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 1rem 0;
    width: 100%;
}

.compareTable .table-container table tr td a:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
    border: 1px solid var(--third-color);
}
/* Mobile and Smart Phone Screens */
@media screen and (max-width: 767px) {
    .compareTable .table-container table tr th{
        padding: 0.5rem;
        font-size: 0.1rem;
    }
    .compareTable .table-container table tr th img {
        height: 50px;
        width: 50px;
        object-fit: contain;
    }
    .compareTable .table-container table tr td {
        padding: 0.5rem;
        font-size: 0.85rem;
    }
    .compareTable .table-container table tr td:first-child{
        font-size: 0.89rem;
    }
    .compareTable .table-container table tr td a {
        padding: 0.2rem;
        font-size: 0.75rem;
        margin: 0;
    }
}